@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply px-2 py-3 bg-gray-100 shadow-lg rounded-md;
}

.title-section {
  @apply text-3xl font-bold text-center mb-5;
}
.xlist {
    color: #0c5460;
    background-color:  #e2fbfa;
    border-color: #bee5eb
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
    line-height:1.62em;
    border-radius:2px
    list-style-position:inside;  
}
